// SASS VARIABLES
//COLOURS
$grey: #bcbcbc;
$dark: #2e2e2e;
$light: #fafafb;
$green: #ccd5b2;
$light-blue: #a9c1c7;
$dark-blue: #365e68;
$purple: #84577C;

//FONTS
$display-font: "Permanent Marker", cursive;
$normal-font: "Lato", sans-serif;
$med-font-size: 1.15rem;
$small-font-size: 0.85rem;

$container-width: 60vw;
$container-width-mobile: 90vw;
$skinny-container-width: 30vw;
$nav-height: 3.5rem;

//SPACING
$default-padding: 1rem;
$default-margin: 2rem 0;

// SASS MIXINS
@mixin transform($X: 0, $Y: 0) {
  -webkit-transform: translate($X, $Y);
  -ms-transform: translate($X, $Y);
  transform: translate($X, $Y);
}

@mixin flex-container(
  $flex-direction: row,
  $justify-content: space-between,
  $align-items: center,
  $width: $container-width
) {
  display: flex;
  flex-direction: $flex-direction;
  flex-wrap: nowrap;
  justify-content: $justify-content;
  align-items: $align-items;
  width: $width;
}

// @mixin container {
//   height: 100vh;
//   margin: (100px (100vw - $container-width) / 2);
//   position: relative;
//   width: $container-width;
//   text-align: center;
//   padding: 0;
// }

@mixin reset-defaults {
  padding: 0;
  margin: 0;
}

@mixin background($color: $light, $index: -1) {
  display: block;
  position: absolute;
  background-color: $color;
  width: 100%;
  height: 100%;
  z-index: $index;
}

// HTML ELEMENTS
body, html {
  @include reset-defaults();
  overflow-x: hidden;
}

h1 {
  color: $dark;
  font-family: $display-font;
  font-size: 6rem;
  line-height: 5.5625rem;
  @include reset-defaults();
}

h2 {
  font-family: $display-font;
  font-size: 3rem;
  color: $dark;
  @include reset-defaults();
  margin-top: 50px;
}

h3 {
  font-family: $normal-font;
  font-size: $med-font-size;
  font-weight: 400;
  color: $light;
  margin: 0;
  @include reset-defaults();
}

h4 {
  font-family: $normal-font;
  font-size: 1.5rem;
  color: $dark;
  @include reset-defaults();
  flex: 0 1 auto;
}

h5 {
  @include reset-defaults();
  font-family: $normal-font;
  font-size: $small-font-size;
  margin: 5px 0 0 0;
  color: $grey;
}

p {
  font-family: $normal-font;
  color: $dark;
  @include reset-defaults();
}

a {
  @include reset-defaults();
  text-decoration: none;
}

a > h3:hover,
a > i:hover,
a > h4:hover,
a:hover {
  color: $grey;
}

i {
  margin: 5px;
}

ul {
  @include reset-defaults();
  // height: 100%;
}

li {
  list-style-type: none;
  font-family: $normal-font;
  color: $dark;
  @include reset-defaults();
}

form {
  margin: 50px 30px;
  // width: 100%;
}

input {
  width: 100%;
  background: rgba(46, 46, 46, 0.05);
  border: 0;
  height: 48px;
  margin: 5px 0;
  color: $dark;
  font-size: 1rem;
  font-family: $normal-font;
  padding:  0 10px;
  transform: translateX(-10px);
}

textarea {
  width: 100%;
  background: rgba(46, 46, 46, 0.05);
  margin: 5px 0;
  border: 0;
  color: $dark;
  font-size: 1rem;
  font-family: $normal-font;
  padding:  10px 10px;
  transform: translateX(-10px);
}

::placeholder {
  color: #BCBCBC;
  font-size: 1rem;
  font-family: $normal-font;
}

//CONTAINERS
.nav-container {
  @include flex-container(row, space-between);
  position: relative;
  margin: 0 auto;
  padding: (($nav-height - $med-font-size)/2) 0; //center text vertically
  text-align: center;
  width: $container-width;

  @media only screen and (max-width: 700px){
    padding: (($nav-height - $small-font-size)/2) 0;
    width: $container-width-mobile;
  }

  h3{
    @media only screen and (max-width: 700px){
      font-size: $small-font-size;
    }
  }
}

.home-container {
  @include flex-container(column, center, flex-start);
  text-align: left;
  height: 100vh;
  width: $container-width;
  margin: 0 auto;

    @media only screen and (max-width: 1080px){
    width: $skinny-container-width;
    @include flex-container(column, center, center)
  }

    @media only screen and (max-width: 600px){
    @include flex-container(column, center, center);
    width: 90vw;
  }

}

.container-skinny {
  @include flex-container(column, center, center, $skinny-container-width);
  text-align: center;
  margin: auto;
  height: 95vh;
}

.container-wide {
  @include flex-container(column, center, center, $container-width);
  text-align: center;
  margin: auto;
  height: 95vh;
}

.contact-container {
  @include flex-container(column, center, stretch, $skinny-container-width);
  text-align: center;
  margin: auto;
  height: 80vh;
}

.list-container {
  // @include flex-container(column, space-between, stretch, 100%);
  // height: 55%;
  // width: 100%; 
  margin: 10% 0 0 0;

  p {
    margin: 5% 0;
  }
}

.sub-text-container {
  @include flex-container();
  width: 40.625rem;
  line-height: 43px;
  z-index: 10;

  @media only screen and (max-width: 1080px){
    @include flex-container(column, flex-start, stretch);
    text-align: center;
  }
}

.portfolio-text-container {
  @include flex-container(row, space-around, center, $skinny-container-width);
  margin: 10px;
}

.img-container {
  @include flex-container(row, space-between, center, 420px);
  margin: 50px 0;
  flex-wrap: wrap;
  

  div {
    width: 180px;
    height: 180px;
    margin: 15px;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }

    img:hover {
      transform: translate(0, -10px);
      box-shadow: 0px -2px 80px rgba(0, 0, 0, 0.1), 0px -0.835552px 33.4221px rgba(0, 0, 0, 0.143771), 0px -0.446726px 17.869px rgba(0, 0, 0, 0.119221), 0px -0.250431px 10.0172px rgba(0, 0, 0, 0.1), 0px -0.133002px 5.32008px rgba(0, 0, 0, 0.0807786), 0px -0.0553451px 2.21381px rgba(0, 0, 0, 0.0562291);
      transition: transform 1s, box-shadow 1s;
    }
  }
}

//CONTAINERS FOR RESPONSIVE SVGS
//HOME SECTION
.light-shape-container {
  margin: 0;
  position: absolute;
  width: 100%;
  padding-bottom: 70%; //PADDING BOTTOM = SVG HEIGHT/WIDTH
  vertical-align: middle;
  overflow: hidden;
  right: 240px;
  top: 93px;
  transition: left 2s, top 2s, width 2s;
  // @include transform(-10%, 5%);

  @media only screen and (max-width: 992px) {
    right: 100px;
    top: 93px;
    width: 150%;
    transition: left 2s, top 2s, width 2s;
  }

  @media only screen and (max-width: 768px) {
    right: 140px;
    top: 30px;
    width: 150%;
    transition: left 2s, top 2s, width 2s;
  }

  @media only screen and (max-width: 576px) {
    right: 200px;
    top: 40px;
    width: 200%;
    transition: left 2s, top 2s, width 2s;
  }
}

.pattern-shape-container {
  margin: 0;
  position: absolute;
  width: 100%;
  padding-bottom: 62%; //PADDING BOTTOM = SVG HEIGHT/WIDTH
  vertical-align: middle;
  overflow: hidden;
  right: 1100px;
  top: 60px;
  transition: left 2s, top 2s, width 2s;
  z-index: 10;
  
    @media only screen and (min-width: 992px) {
      right: 1000px;
    }
}

.small-dark-blue-shape-container {
  margin: 0;
  position: absolute;
  width: 30%;
  padding-bottom: 105%; //PADDING BOTTOM = SVG HEIGHT/WIDTH
  vertical-align: middle;
  overflow: hidden;
  right: -30px;
  top: 350px;
  z-index: -1;
  transition: left 2s, top 2s, width 2s;
  // @include transform(200%, 20%);

    @media only screen and (max-width: 992px) {
    display: none;
  }
}

.green-shape-container {
  margin: 0;
  position: absolute;
  width: 60%;
  padding-bottom: 91%; //PADDING BOTTOM = SVG HEIGHT/WIDTH
  vertical-align: middle;
  overflow: hidden;
  left: 747px;
  top: -250px;
  transition: left 2s, top 2s, width 2s;
  // @include transform(75%, -12%);
}

//PORTFOLIO SECTION
.big-light-blue-shape-container {
  margin: 0;
  position: absolute;
  width: 100%;
  // padding-bottom: 91%; //PADDING BOTTOM = SVG HEIGHT/WIDTH
  vertical-align: middle;
  overflow: hidden;
  left: 1000px;
  top: -900px;
  transition: left 2s, top 2s, width 2s;
  z-index: 1;

    @media only screen and (max-width: 992px) {
    left: 1200px;
    top: -900px;
    width: 100%;
    transition: left 2s, top 2s, width 2s;
  }
}

//ABOUT SECTION
.light-shape-about-container {
  margin: 0;
  position: absolute;
  width: 80%;
  // padding-bottom: 100%; //PADDING BOTTOM = SVG HEIGHT/WIDTH
  vertical-align: middle;
  overflow: hidden;
  left: -500px;
  top: 30px;
  transition: left 2s, top 2s, width 2s;
  z-index: -10;
}

// BACKGROUNDS
#home {
  @include background($grey);
}

#portfolio {
  @include background($light, 0);
  top: 100vh;
}

#about {
  @include background($grey, 0);
  top: 200vh;
}

#contact {
  @include background($light, 0);
  top: 300vh;
}

//OTHER ELEMENTS
.nav-bar {
  width: 100vw;
  background-color: $dark;
  display: inline-block;
  position: relative;
  height: $nav-height;
  box-shadow: 0px -2px 80px rgba(0, 0, 0, 0.2), 0px -0.835552px 33.4221px rgba(0, 0, 0, 0.143771), 0px -0.446726px 17.869px rgba(0, 0, 0, 0.119221), 0px -0.250431px 10.0172px rgba(0, 0, 0, 0.1), 0px -0.133002px 5.32008px rgba(0, 0, 0, 0.0807786), 0px -0.0553451px 2.21381px rgba(0, 0, 0, 0.0562291);
}

.hello-text {
  margin: $default-margin;
  width: 70%;
  z-index: 10; //z-index must be applied to children flex items
  @media only screen and (max-width: 1080px){
    text-align: center;
  }
  @media only screen and (max-width: 600px){
      h1 {
      font-size: 5rem;  
    }
  }
}

.button {
  background-color: transparent;
  border: 3px solid $dark-blue;
  box-sizing: border-box;
  border-radius: 51px;
  z-index: 1;
  padding: 0.5rem 1rem;

  h3 {
    color: $dark-blue;
  }

}

.button:hover {
  background-color: $light-blue;
  
  h3 {
  color: $dark-blue;
  }
}

.sub-text {
  width: 50%;
  @media only screen and (max-width: 1080px){
    width: 100%;
  }
}

//FOOTER
.footer-background {
  width: 100%;
  height: 15vh;
  background-color: $dark;
  display: block;
  position: absolute;
  top: (400vh - 15vh);
}

.left {
  position: relative;
  float: left;
  text-align: left;
}

.right {
  position: relative;
  float: right;
  text-align: right;
}

.footer-list {
  display: flex;
  flex-direction: row;

  li {
    margin: 0 10px;
    color: $light;
  }

  i {
    color: $light;
  }
}

#website-popup {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 30%;
  background-color: $light;
  text-align: left;
  border-radius: 16px;
  box-shadow: 0px 43px 80px rgba(0, 0, 0, 0.15),
    0px 17.9644px 33.4221px rgba(0, 0, 0, 0.107828),
    0px 9.60461px 17.869px rgba(0, 0, 0, 0.0894161),
    0px 5.38427px 10.0172px rgba(0, 0, 0, 0.075),
    0px 2.85954px 5.32008px rgba(0, 0, 0, 0.0605839),
    0px 1.18992px 2.21381px rgba(0, 0, 0, 0.0421718);
  z-index: 10;

  img {
    width: 100%;
    height: auto;
    border-radius: 16px 16px 0px 0px;
  }
}

#exit {
  position: absolute;
  top: 10px;
  right: 10px;
}

.website-text {
  margin: 20px;

  h5 {
    margin-bottom: 25px;
    font-size: 1rem;
  }
}

#overlay {
  position: fixed;
  top: 0;
  background: rgba(44, 44, 44, 0.1);
  height: 100%;
  width: 100%;
  display: none;
}

//PROFILE

.profile-img {
  margin: 0 30px 0 0;
  border-radius: 100px;
  box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.07), 0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198), 0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035), 0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725), 0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802);

}

.profile-container {
  @include flex-container(row, space-around);
  text-align: left;
  width: 80%;
  margin-bottom: 20px;
}

.skill-container {
  @include flex-container(row, space-between);
  margin-top: 25px;
  height: 45%;
}

.skill-box {
  position: relative;
  background-color: $light;
  width: 249px;
  height: 100%;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.07), 0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198), 0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035), 0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725), 0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802);

}

.color-block-1 {
  background-color: purple;
  border-radius: 12px 12px 0px 0px;
  position: relative;
  padding: 10% 0 5% 0;
  width: 100%;
}

.color-block-2 {
  background-color: $dark-blue;
  border-radius: 12px 12px 0px 0px;
  position: relative;
  padding: 10% 0 5% 0;
  width: 100%;
}

.color-block-3 {
  background-color: $dark;
  border-radius: 12px 12px 0px 0px;
  position: relative;
  padding: 10% 0 5% 0;
  width: 100%;
}

//CONTACT

.submit {
  float: right;
  background-color: transparent;
  border: 3px solid $dark-blue;
  box-sizing: border-box;
  border-radius: 51px;
  z-index: 1;
  padding: 0.5rem 1rem;

  h3 {
    color: $dark-blue;
  }
}

.submit:hover {
  background-color: $light-blue;
}

.submit:active {
  background-color: $dark-blue;
  color: $light;

  h3 {
    color: $light;
 }
}

input:invalid, textarea:invalid {
  background-color: rgba(198, 95, 99, 0.23);
}